body{
	margin: 0;
}
/*Loader*/

.loading{
    overflow: hidden;
}
.loader{
    background-color: #0F111A;
    min-height: 100vh;
    width: 100%;
    transition: all .5s;
    display: none;
    position: absolute;
    top: 0;
}
.fadeout{
    opacity: 0;
}
.fadein{
    opacity: 1;
}
.ball1,.ball2,.ball3{
    background-color: azure;
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.ball1{
    animation: ball1 3s infinite;
}
.ball2{
    animation: ball2 3s infinite;
}
.ball3{
    animation: ball3 3s infinite;
}


@keyframes ball1{
    0%   {
        left:50%;
    }
    25%  {
        left:30%;
    }
    50%  {
        left:50%;
    }
    75%  {
        left:70%;
    }
    85%{
        left: 70%;
    }
    95% {
        left:50%;
    }
}
@keyframes ball2{
    0%   {
        left:50%;
    }
    25%  {
        left:30%;
    }
    50%  {
        left:30%;
    }
    75%  {
        left:30%;
    }
    85% {
        left:30%;
    }
    95%{
        left:50%;
    }
}
@keyframes ball3{
    0%   {
        left:50%;
    }
    25%  {
        left:30%;
    }
    50%  {
        left:50%;
    }
    75%  {
        left:50%;
    }
    85% {
        left:50%;
    }
}